*{
    margin: 0;
    padding: 0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

:root{
    --color-primary: blue;
    --color-success: green;
    --color-warning: rgb(157, 76, 76);
    --color-danger: red;
    --color-danger-variant: rgb(95, 31, 31);
    --color-white: white;
    --color-light:rgb(170, 232, 212);
    --color-black: black;
    --color-bg:rgb(25, 55, 65);
    --color-bg1:darkblue;
    --color-bg2:rgb(18, 18, 71);

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition: all 400ms ease;
    --transition2: all 700ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height:1.7;
    color:var(--color-white);
    background: var(--color-bg);
    /* background-color: aqua; */
}

.container{
    width: var(--container-width-lg);
    /* background-color: brown; */
    margin: 0 auto;
}

section{
    padding: 6rem 0;

}

section h2{
    text-align:center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white)
}

img{
    width:100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white) ;
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/* ======NavBar====== */

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index:11;
}

.window-scroll{
    background: rgba(54, 54, 90, 0.9);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap:5rem;
}
.nav__menu a{
    font-size:0.9rem;
    transition: var(--transition);
}
.nav__menu a:hover{
    color: var(--color-bg2)
}

/* header in about */

header{
    top: 5rem;
    position: relative;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    /* background-color: aqua; */
    content: "";
    background-image: url("/Project1/images/sun-setting-silhouette-electricity-pylons.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.header__main{
    margin-top:8rem;
    text-align: center;
    font-size: larger;
    color: rgb(247, 248, 248);
    /* background-color: blueviolet; */
}

.header__main h1:hover{
    color: rgb(110, 120, 168);
    transition: var(--transition2);
}
.header__main h4:hover{
    color: rgb(66, 112, 123);
    transition: var(--transition2);
}

/* About us */

.aboutus{
    background: var(--color-bg2);
    height: 25rem;
    box-shadow: inset 0 0 2rem black;
}

.aboutus__container h3{
    line-height: 0;
    margin-bottom:3rem ;
    text-align: center;
    
}

.aboutus__container h3:hover{
    color:rgb(44, 52, 54);
    transition: var(--transition2);
}

.aboutus__container p{
    text-align: justify;
}

/* why we */

.whywe{
    height: 20rem;
    background: var(--color-bg2);
}
.whywe__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
    /* background-color: aqua; */
}
.left__contianer h2{
    margin-top: 3rem;
    /* background-color: brown; */
}
.left__contianer p{
    text-align: justify;
}


/* Achievments */

.achievements{
    /* height: 30rem; */
    background: var(--color-bg);
    box-shadow: inset 0 0 2rem black;
}

.ach__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
}
.right_upper_ach h3{
    margin-bottom: 2rem;
}
.right_upper_ach p{
    text-align: justify;
}

.right_lower_ach{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    margin-top: 3rem;
}
.art{
    background-color: rgb(49, 70, 81);
    border-radius: 2rem;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0,0.3);
}


.art:hover{
    background-color: rgb(35, 45, 40);
    transform: scale(1.1);
    transform: rotate(2deg);
   
}

.art:nth-child(1) .achievements_icon ,.art:nth-child(3) .achievements_icon{
    background-color: rgb(67, 61, 50);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
}
.achievements_icon:hover{
    background-color: rgb(78, 69, 50);
}
.art:nth-child(2) .achievements_icon{
    background: var(--color-success);
    padding: 0.5rem; 
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.art:nth-child(3) .achievements_icon{
    background: var(--color-primary);
}

/* ================ Footer ================ */

.footer{
    /* background: var(--color-bg1); */
    /* background-color: rgb(24, 4, 4); */
    padding-top: 5rem;
    font-size: 0.9rem;
    
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0rem;
    margin-top: 3rem;
    /* background-color: aqua; */
}

.footer__container > div h4{
    margin-bottom: 1.2rem;
    font-size: large;
    color: rgb(102, 101, 101);
}

/* .footer__1 p{
    /* margin: 1rem 0 2rem; */
    /* background-color: aquamarine; */
    /* margin-right: 10px; }*/


footer ul li{
    margin-bottom: 0.7rem;
    font-size: small;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer__4 p,.footer__1 p{
    font-size: small;
}

.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(66, 80, 90) ;
    font-size: smaller;
}